node_modules/
dist/
dist-demo
.DS_Store
*.log
coverage/
.env

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude
CLAUDE.md

# UI Tests
playwright-report/
test-results/
